In [1]:
import numpy as np

In [5]:
x = []
for i in range(0, 1000, 100):
    x.append(np.random.randn(0,1))
x

[array([ 0.23969971, -1.62298693, -1.34147426, -0.17831604, -1.06854523,
         1.75792092, -1.03473126, -0.75309877, -0.08508525,  0.7089899 ]),
 array([ 1.11054554, -1.06196382, -0.68481263,  0.33568193, -1.8658846 ,
         0.44116643, -0.58531696, -1.10693728, -1.04782453, -0.15446181]),
 array([ 0.21629375, -0.07112896,  0.63916257, -0.58957455,  0.13293744,
         0.23739719,  1.44549291, -1.65599647, -0.14631544, -0.86882865]),
 array([-1.14978494,  1.49708988,  0.65967588,  1.04160911, -0.31273904,
         1.17508155,  0.16727118,  1.31730832,  0.13980406, -0.10715131]),
 array([ 1.14683739, -0.97899269,  0.46517218,  1.04685971, -0.59302882,
        -0.56354755, -0.17713156,  0.31607051,  0.70622179,  0.60859697]),
 array([ 0.79649256, -2.18708846, -2.10849664,  0.75206259,  1.89845643,
         0.62101773,  0.06498175,  1.4931699 , -1.95591035,  1.07910628]),
 array([-0.0137632 ,  0.65232787,  1.01834502, -0.52029276, -0.12587201,
         0.17781231,  0.64727967,  0.74921791,  0.35047338,  0.03300452]),
 array([-0.2345549 , -1.26844915,  0.96734738, -0.62259333,  0.1579358 ,
        -1.32999762,  0.56500179,  1.9274525 , -0.25982985,  0.41966922]),
 array([-1.41012916, -0.34386673,  0.34193337, -0.46999063, -0.25133826,
        -0.19253969, -0.5281063 , -0.59878217, -0.1813292 , -1.20255588]),
 array([ 0.75463306, -1.21500696,  1.58539981,  0.49474171,  0.71673168,
        -0.53763725, -2.17948466, -0.35831897, -0.91896184, -0.64198267])]

In [37]:
random_num = []
for i in np.random.rand(10):
    random_num.append(round(i))
random_num

[0, 0, 0, 0, 1, 1, 1, 1, 0, 0]

In [38]:
count = 0
for i in random_num:
    if i == 1:
        count += 1
print(count, count/10)
np.mean(random_num)

4 0.4

In [40]:
np.std(random_num)

0.48989794855663565

In [28]:
random_num = []
for i in np.random.rand(100):
    random_num.append(round(i))

In [29]:
count = 0
for i in random_num:
    if i == 1:
        count += 1
print(count, count/100)

58 0.58

In [30]:
random_num = []
for i in np.random.rand(1000):
    random_num.append(round(i))

In [31]:
count = 0
for i in random_num:
    if i == 1:
        count += 1
print(count, count/1000)

491 0.491

In [25]:
random_num = []
for i in np.random.rand(100000):
    random_num.append(round(i))
count = 0
for i in random_num:
    if i == 1:
        count += 1
print(count, count/100000)

50130 0.5013

As sample size increases; accuracy increases

In [32]:
random_num = []
for i in np.random.rand(10000000):
    random_num.append(round(i))
count = 0
for i in random_num:
    if i == 1:
        count += 1
print(count, count/10000000)

5000391 0.5000391

### Populations vs Sample

In [45]:
population = np.random.randint(10,20,1000) # start,stop,no_of_numbers

In [46]:
population

array([11, 13, 15, 16, 15, 14, 18, 18, 15, 17, 10, 14, 16, 17, 14, 17, 10,
       15, 13, 19, 11, 12, 11, 12, 12, 14, 10, 18, 14, 10, 17, 10, 14, 11,
       18, 11, 16, 13, 14, 16, 11, 19, 17, 14, 17, 19, 14, 19, 19, 11, 17,
       10, 18, 10, 11, 13, 18, 15, 13, 12, 16, 16, 15, 19, 18, 11, 14, 19,
       16, 18, 11, 17, 14, 15, 14, 17, 14, 13, 14, 19, 15, 13, 14, 12, 16,
       10, 14, 16, 13, 15, 19, 19, 12, 16, 14, 11, 13, 13, 15, 15, 17, 12,
       16, 12, 18, 13, 13, 15, 18, 16, 10, 18, 17, 14, 19, 15, 12, 19, 17,
       19, 15, 19, 18, 14, 10, 18, 15, 12, 11, 19, 13, 16, 18, 13, 15, 19,
       14, 16, 19, 15, 11, 15, 13, 19, 17, 15, 12, 19, 17, 16, 19, 10, 19,
       10, 15, 13, 17, 19, 10, 10, 17, 17, 19, 10, 17, 17, 17, 18, 14, 11,
       10, 16, 19, 18, 14, 10, 18, 17, 11, 17, 12, 10, 16, 11, 15, 17, 18,
       14, 11, 17, 16, 18, 16, 17, 15, 15, 13, 13, 16, 18, 17, 19, 14, 19,
       18, 10, 18, 18, 10, 11, 17, 14, 15, 19, 15, 10, 18, 16, 19, 18, 13,
       11, 14, 18, 11, 17, 10, 18, 14, 10, 12, 17, 13, 10, 18, 18, 15, 16,
       10, 16, 17, 18, 10, 13, 13, 18, 10, 18, 18, 19, 17, 10, 19, 16, 11,
       17, 10, 11, 18, 15, 11, 12, 15, 11, 10, 11, 17, 11, 18, 10, 14, 14,
       13, 15, 10, 10, 12, 13, 13, 15, 12, 13, 15, 12, 15, 12, 14, 14, 10,
       17, 12, 16, 17, 13, 16, 13, 11, 18, 14, 16, 16, 16, 19, 13, 10, 18,
       12, 13, 10, 19, 11, 15, 17, 12, 18, 16, 15, 11, 13, 13, 11, 11, 13,
       10, 15, 16, 16, 13, 18, 18, 16, 10, 17, 10, 11, 11, 14, 17, 10, 15,
       13, 19, 12, 10, 12, 16, 19, 14, 18, 10, 14, 15, 11, 18, 14, 11, 16,
       17, 17, 13, 16, 17, 13, 12, 15, 17, 15, 18, 15, 12, 11, 11, 16, 10,
       17, 18, 10, 18, 11, 10, 18, 11, 12, 17, 12, 12, 12, 11, 14, 18, 11,
       15, 14, 15, 11, 10, 12, 14, 16, 15, 16, 19, 10, 10, 12, 19, 14, 11,
       18, 11, 10, 13, 14, 19, 11, 18, 12, 18, 10, 18, 11, 12, 19, 13, 16,
       13, 11, 18, 10, 15, 17, 18, 13, 14, 18, 14, 13, 12, 15, 15, 13, 11,
       12, 13, 16, 18, 15, 18, 12, 16, 18, 12, 19, 15, 15, 18, 13, 17, 10,
       10, 14, 13, 13, 14, 15, 15, 12, 14, 17, 19, 15, 19, 13, 16, 12, 16,
       14, 16, 19, 14, 14, 18, 12, 15, 13, 15, 17, 16, 18, 12, 17, 19, 14,
       12, 15, 18, 17, 13, 11, 14, 13, 15, 16, 11, 19, 15, 17, 16, 19, 17,
       15, 11, 16, 15, 17, 10, 11, 17, 18, 13, 18, 17, 14, 14, 13, 13, 18,
       15, 12, 13, 18, 13, 17, 16, 11, 13, 16, 16, 18, 16, 12, 16, 18, 15,
       15, 10, 15, 10, 15, 10, 16, 16, 19, 19, 13, 19, 19, 12, 19, 13, 13,
       16, 12, 18, 14, 19, 10, 17, 18, 10, 11, 14, 17, 13, 16, 17, 18, 16,
       10, 19, 17, 16, 14, 13, 15, 19, 14, 10, 18, 11, 18, 10, 17, 19, 18,
       13, 18, 12, 16, 14, 11, 14, 14, 18, 17, 13, 18, 16, 10, 11, 15, 15,
       12, 16, 16, 10, 19, 17, 15, 17, 10, 15, 11, 14, 17, 15, 19, 12, 14,
       16, 16, 18, 15, 11, 14, 15, 17, 11, 11, 12, 18, 15, 18, 13, 17, 14,
       12, 10, 12, 15, 16, 12, 11, 15, 11, 15, 16, 12, 19, 12, 18, 14, 15,
       14, 11, 10, 14, 15, 18, 16, 13, 11, 16, 14, 12, 17, 10, 17, 12, 13,
       12, 11, 14, 14, 10, 15, 10, 16, 16, 15, 19, 17, 10, 17, 15, 18, 19,
       13, 11, 10, 16, 16, 19, 13, 19, 10, 11, 13, 19, 18, 16, 14, 15, 19,
       15, 11, 16, 17, 10, 11, 10, 11, 14, 19, 10, 15, 19, 12, 18, 13, 10,
       16, 13, 18, 18, 14, 16, 19, 16, 18, 16, 16, 17, 15, 15, 18, 19, 19,
       15, 11, 17, 18, 12, 13, 16, 12, 14, 10, 18, 17, 10, 14, 11, 18, 18,
       12, 14, 15, 11, 12, 11, 12, 11, 11, 14, 17, 12, 16, 11, 13, 11, 18,
       11, 14, 13, 15, 14, 12, 18, 16, 15, 18, 17, 19, 12, 11, 17, 16, 17,
       17, 14, 17, 10, 11, 16, 16, 19, 14, 15, 16, 18, 19, 15, 10, 14, 10,
       15, 11, 18, 15, 10, 18, 18, 16, 13, 17, 15, 16, 16, 12, 16, 17, 18,
       18, 14, 16, 13, 10, 10, 14, 13, 15, 15, 18, 17, 10, 19, 18, 11, 14,
       11, 13, 15, 16, 11, 13, 13, 13, 19, 10, 19, 15, 10, 10, 16, 16, 13,
       14, 17, 10, 13, 10, 13, 18, 15, 10, 17, 14, 11, 10, 18, 12, 12, 17,
       11, 15, 19, 14, 13, 11, 13, 19, 17, 15, 15, 10, 10, 17, 13, 11, 16,
       11, 16, 15, 19, 11, 17, 12, 19, 18, 17, 12, 14, 10, 11, 16, 17, 14,
       16, 19, 14, 12, 18, 13, 10, 15, 17, 16, 12, 17, 11, 14, 10, 10, 11,
       16, 15, 14, 12, 12, 18, 18, 14, 14, 14, 12, 16, 12, 12, 13, 14, 14,
       16, 15, 13, 11, 19, 14, 15, 16, 13, 14, 18, 16, 14, 16, 16, 12, 13,
       12, 19, 17, 16, 16, 19, 13, 18, 12, 13, 10, 13, 18, 19, 12, 12, 15,
       13, 17, 14, 17, 10, 15, 17, 10, 14, 10, 18, 12, 14, 12])

In [49]:
mean = np.mean(population)
mean

14.522

In [50]:
std = np.std(population)
std

2.8276343469409193

In [53]:
median = np.median(population)
median

15.0

In [69]:
from statistics import mode
mode = mode(population)
mode

18

In [61]:
var = np.var(population)
var

7.995515999999999

Sample with size 20

In [70]:
sample1 = np.random.choice(population,20)

In [64]:
mean1 = sample1.mean()
mean1

15.05

In [81]:
median1 = np.median(sample1)
mode1 = mode(sample1)
var1 = np.var(sample1)
std1 = np.std(sample1)
print('Sample - ')
print('median - ', median1, ' mode - ', mode1, ' variance - ', var1, ' standard deviation - ', std1)

Sample -
median -  13.0  mode -  10  variance -  8.61  standard deviation -  2.9342801502242417

In [80]:
mode(sample1)

10

Sample with size 50

In [73]:
sample3 = np.random.choice(population, 50)
sample3

array([12, 12, 18, 15, 10, 19, 10, 11, 16, 15, 14, 10, 12, 14, 10, 16, 13,
       13, 13, 16, 17, 17, 12, 17, 13, 17, 15, 15, 18, 15, 18, 11, 14, 17,
       13, 16, 19, 17, 18, 10, 18, 17, 16, 14, 17, 16, 10, 16, 16, 11])

In [75]:
mean3 = np.mean(sample3) #Population - 14.522
mean3

14.58

In [76]:
median3 = np.median(sample3) #Population - 15
median3

15.0

In [79]:
mode3 = mode(sample3)
mode3

16

As sample size increases, the values are closer to the population values

In [82]:
import pandas as pd

In [83]:
df1 = pd.DataFrame(dict(id = range(6), age = np.random.randint(18,31,size = 6)))

In [84]:
df1

   id  age
0   0   29
1   1   27
2   2   29
3   3   18
4   4   24
5   5   18

In [85]:
df1.age.mean()

24.166666666666668

In [86]:
df1.age.median()

25.5

In [87]:
df1.age.mode()

0    18
1    29
dtype: int32

In [88]:
df1.age.var()

26.166666666666668

In [89]:
df1.age.std()

5.115336417740935

In [90]:
df1.age.max()

29

In [91]:
df1.age.min()

18

In [92]:
df1.age.skew()

-0.4940806094915673

In [93]:
df1.age.kurtosis()

-2.111355430240578