In [1]:
from sklearn.linear_model import LogisticRegression
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
import pandas as pd
# Load and split data
data = pd.read_csv("./data/binary.csv")

In [2]:
data

     admit  gre   gpa  rank
0        0  380  3.61     3
1        1  660  3.67     3
2        1  800  4.00     1
3        1  640  3.19     4
4        0  520  2.93     4
..     ...  ...   ...   ...
395      0  620  4.00     2
396      0  560  3.04     3
397      0  460  2.63     2
398      0  700  3.65     2
399      0  600  3.89     3

[400 rows x 4 columns]

In [3]:
data.drop(columns = ['admit'])

     gre   gpa  rank
0    380  3.61     3
1    660  3.67     3
2    800  4.00     1
3    640  3.19     4
4    520  2.93     4
..   ...   ...   ...
395  620  4.00     2
396  560  3.04     3
397  460  2.63     2
398  700  3.65     2
399  600  3.89     3

[400 rows x 3 columns]

In [4]:
Xtrain, Xtest, Ytrain, Ytest = train_test_split(data.drop(columns = ['admit']), data.admit, test_size=0.3, random_state=4)

In [7]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

In [6]:
clf = DecisionTreeClassifier(random_state=0)

In [8]:
# Train Decision Tree Classifer
clf = clf.fit(Xtrain,Ytrain)

#Predict the response for test dataset
y_pred = clf.predict(Xtest)

In [9]:
y_pred

array([0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0], dtype=int64)

In [10]:
print("Accuracy:",metrics.accuracy_score(Ytest, y_pred))

Accuracy: 0.6083333333333333

In [17]:
import pickle

#
# Create your model here (same as above)
#

# Save to file in the current working directory
pkl_filename = "C:/Users/psaisamyukta/Desktop/admission_model.pkl"
with open(pkl_filename, 'wb') as file:
    pickle.dump(clf, file)